server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mycathome?useSSL=false&serverTimezone=UTC&useAffectedRows=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  thymeleaf:
    cache: false

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
