<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Dashboard - 逮捕哈基米</title>
    <link rel="stylesheet" th:href="@{/css/style.css(v=${#dates.createNow().time})}" />
</head>

<body>
    <div class="container">
        <h1>欢迎，<span th:text="${user.nickname} ?: ${user.username}"></span></h1>
        <div class="row">
            <a class="btn btn-primary" th:href="@{/game/start}">开始新游戏</a>
            <a class="btn btn-outline" th:href="@{/user/login}">登出（刷新会话以退出）</a>
        </div>
    </div>
</body>

</html>