<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>注册 - 点格子困猫</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <h1>注册</h1>
    <form method="post" th:action="@{/user/register}">
        <label>用户名: <input type="text" name="username"/></label><br/>
        <label>密码: <input type="password" name="password"/></label><br/>
        <label>昵称: <input type="text" name="nickname"/></label><br/>
        <button type="submit">注册</button>
    </form>
    <p>已有账号？ <a th:href="@{/user/login}">登录</a></p>
</div>
</body>
</html>
